.content{
    background: #b7baca;
}

.logodiv{
    text-align: center;
    padding-top: 25px;
}
.content h1{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 60px;
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 54px;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fill, 351px);
    gap: 55px;
    padding: 10px;
    justify-content: center;
}

.cargando{
    color: white;
    text-align: center;
    font-size: 50px;
}

.galery{
    border-radius: 5px;
    background-color: white;
    color: black;
    width: 200px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}