nav{
  display: flex;
  align-items: baseline;
  padding-top: 80px;
  margin: 0 50px;
}

.divlogo{
  width: 65%;
  cursor: pointer;
}
.divsearch{
    width: 35%;  
    display:flex;
    align-items: flex-start;
    justify-content:space-between;
}

.divform{
  width: 80%;
}
.divinput{
  max-width: 286px;
  position: relative;
}
.divinput input{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 3px 10px;
}
.logosearch{
  position: absolute;
  right:4px;
  top:1px;
  cursor: pointer;
  border: none;
  background: none;
}

 /*TABLET*/
 .sugerencia{
  overflow: hidden;
  height: 400px;
  position: absolute;
  width: 100%;
  border-radius:5px;
  z-index: 100;
}
.tabla td:nth-child(2){
  text-align: right;
}
tr{
  background:rgba(227, 227, 227, 0.647);
  border-style:none!important;
}
tbody{
  border-style:none!important;
}
tr{
  cursor: pointer;
 
}
tr:hover{
  border:1px solid rgba(255, 0, 0, 0.543);
}
td{
  width:50%;
  vertical-align:middle;
  text-align: center;
  border-style:none!important;
}
/*TERMINA TABLER*/

.logomenu{
  cursor: pointer;
}

@media (max-width:800px){
  nav{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    padding-top: 80px;
    margin: 0 50px;
  }
  .divlogo{
    width:100%;
    margin: auto;
    text-align: center;
    cursor: pointer;
    margin-bottom:90px;
  }

  .divsearch{
    width:100%;
    display:flex;
    align-items:flex-start;
    justify-content:center;
}
  .divform{
    width:63%;
    margin: 0 10px;
  }

  .divinput{
    max-width:400px;
    min-width:250px;
    position: relative;
  }

}

@media (max-width:510px){
  .divsearch{
    width:100%;
    display:flex;
    align-items: flex-start;
    justify-content:center;
}
  .divform{
  width:auto
}
}
